<h1 class="section-title"><%= deck.name %></h1>
<span class="new-slide-button-wrapper">
  <a href="/decks/<%= deck.id %>/slides/new" class="button icon add big">Add slide</a>
</span>

<div class="edit-slide">
  <div class="slide-edit-area">
    <% form_tag "/slides/#{slide.id}", :method => 'post' do %>
      <textarea class="content-area" name="content" rows="" cols=""><%= slide.content %></textarea>
      <div class="button-bar">
        <div class="close-button-wrapper">
          <a href="/decks/<%= deck.id %>/edit" class="button big">Close</a>
        </div>
        <div class="button-group preview-save-button-wrapper">
          <input type="submit" class="button big primary">
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if deck.slides.empty? %>
  <div class="notice inline-notification">
    <p>Make your first slide!</p>
    <p><a href="/decks/<%= deck.id %>/slides/new" class="button big">Create a slide</a></p>
  </div>
<% else %>
  <ul class="slide-list">
  <% deck.slides.all.each do |slide| %>
    <a href="/slides/<%= slide.id %>/edit" >
      <li class="slide-preview">
        <%= slide.content_as_html %>
      </li>
    </a>
  <% end %>
<% end %>
