<ul class="slide-list">
  <% deck.slides.all.each do |slide| %>
    <a href="/slides/<%= slide.id %>/edit" >
      <li class="slide-preview">
        <%= slide.content_as_html %>

        <a href="/decks/<%= deck.id %>/slides/<%= slide.id %>/delete" class="delete-button">
          x
        </a>
        <% if slide.number > 1 %>
          <a href="/decks/<%= deck.id %>/slides/<%= slide.id %>/move-left" class="left-button">
            &larr;
          </a>
        <% end %>
        <% if slide.number < slide.deck.slides.count %>
          <a href="/decks/<%= deck.id %>/slides/<%= slide.id %>/move-right" class="right-button">
            &rarr;
          </a>
        <% end %>
      </li>
    </a>
  <% end %>
</ul>
