<h1 class="section-title"><%= deck.name %></h1>
<span class="new-slide-button-wrapper">
  <a href="/decks/<%= deck.id %>" class="button icon approve big">Present</a>
  <a href="/decks/<%= deck.id %>/slides/new" class="button icon add big">Add slide</a>
</span>

<% if deck.slides.empty? %>
  <div class="notice inline-notification">
    <p class="outside-slide">Make your first slide!</p>
    <p class="outside-slide"><a href="/decks/<%= deck.id %>/slides/new" class="button big">Create a slide</a></p>
  </div>
<% else %>
  <%= erb 'slides/list', :locals => {:deck => deck} %>
<% end %>
