<%= template('app') %>
<%= template('ui/notification') %>
<%= template('ui/loading_notification') %>
<%= template('deck/icon') %>
<%= template('deck/list') %>
<%= template('deck/new') %>
<%= template('deck/edit') %>
<%= template('slide/list') %>
<%= template('slide/empty_list') %>
<%= template('slide/icon') %>

<div id="deck"></div>

<script type="text/javascript">
  da             = {};
  da.models      = {};
  da.collections = {};
  da.views       = {};
  da.ui          = {};

  da.preloadData = {
    currentUserEmail: "<%= current_user.email %>"
  };
</script>

<!-- backbone -->
<script src='/javascripts/router.js'></script>
<script src='/javascripts/application.js'></script>
<script src='/javascripts/views/ui/loading_notification_view.js'></script>

<script src='/javascripts/ui.js'></script>

<script src='/javascripts/views/app_view.js'></script>

<script src='/javascripts/views/deck/icon_view.js'></script>
<script src='/javascripts/views/deck/list_view.js'></script>
<script src='/javascripts/views/deck/new_view.js'></script>
<script src='/javascripts/views/deck/edit_view.js'></script>

<script src='/javascripts/views/slide/list_view.js'></script>
<script src='/javascripts/views/slide/empty_list_view.js'></script>
<script src='/javascripts/views/slide/icon_view.js'></script>

<script src='/javascripts/models/deck.js'></script>
<script src='/javascripts/models/slide.js'></script>
<script src='/javascripts/models/current_user.js'></script>

<script src='/javascripts/collections/decks.js'></script>
<script src='/javascripts/collections/slides.js'></script>
