<%= template('app') %>
<%= template('ui/notification') %>
<%= template('ui/loading_notification') %>
<%= template('deck/icon') %>
<%= template('deck/empty_list') %>
<%= template('deck/index') %>
<%= template('deck/new') %>
<%= template('deck/edit') %>
<%= template('slide/empty_list') %>
<%= template('slide/icon') %>
<%= template('slide/edit') %>

<div id="deck"></div>

<script type="text/javascript">
  da             = {};
  da.models      = {};
  da.collections = {};
  da.views       = {};
  da.ui          = {};

  da.preloadData = {
    currentUserEmail: "<%= current_user.email %>"
  };
</script>

<script src='/assets/application.js'></script>
